.image-input {
  display: flex;

  .MuiIconButton-label {
    color: var(--primary-color);
  }

  img {
    width: 30px;
    height: 30px;
    padding: 0.4rem;
  }

  svg {
    font-size: 1.2rem;
    cursor: pointer;
  }
}
