.image-input {
  display: flex;

  .MuiIconButton-label {
    color: var(--primary-color);
  }

  img {
    max-width: 100px;
  }

  button {
    margin: auto 2px;
  }

  svg {
    font-size: 1.2rem;
    cursor: pointer;
  }
}
