.params-container {
  .MuiRadio-colorSecondary.Mui-checked {
    color: var(--primary-color);
  }

  legend {
    font-size: 12px;
  }

  .MuiFormGroup-root {
    flex-direction: row;
    color: rgba(0, 0, 0, 0.87);
  }
}
