.site-editor {
  display: flex;
  flex-grow: 1;
}

.site-editor-content {
  flex-grow: 1;

  .MuiAppBar-colorPrimary {
    background-color: var(--bg-color);
    color: var(--primary-color);
    box-shadow: none;
  }
}

.site-editor-right-menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-left: 1px solid lightgrey;
}
