@mixin fieldset {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 18.5px 14px;
  border-radius: 4px;
}

@mixin container-editor($color) {
  position: relative;
  padding: 0.7rem 0;
  border: 3px solid $color;
  padding: var(--container-padding);
  margin: 1.2rem 0;

  &:hover {
    .add-before,
    .add-after,
    .remove {
      visibility: visible;
    }
  }

  h2,
  h3,
  h4 {
    color: $color;
    text-align: center;
  }

  .add-before,
  .add-after,
  .remove {
    cursor: pointer;
    position: absolute;
    padding: 2px;
    background-color: #fff;
    color: $color;
    visibility: hidden;
    transition: 0.3s;
  }

  .remove {
    position: absolute;
    right: -12px;
    top: 50%;
  }

  .add-after {
    position: absolute;
    left: 50%;
    bottom: -14px;
  }

  .add-before {
    position: absolute;
    left: 50%;
    top: -12px;
  }
}
