@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --primary-font: 'Balsamiq Sans', cursive;

  --bg-color: #fafafa;
  --primary-color: #2f7208;
  --primary-color-darker: #2c660a;

  --section-color: #172a96;
  --row-color: #971c91;
  --block-color: #bd6716;

  --footer-bg-color: #121212;

  --container-padding: 1.3rem 0.6rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

button {
  font-family: var(--primary-font) !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.field-container {
  display: flex;
}

table {
  margin: 0.4rem 0.9rem;
  tr {
    text-align: left;
    text-transform: capitalize;
    font-size: 0.8rem;
  }
  td {
    padding: 0.2rem 0.8rem;
  }
  thead {
    tr th {
      padding: 1rem 0;
      background-color: var(--bg-color);
      text-align: center;
    }
  }
}
