@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  --primary-font: 'Balsamiq Sans', cursive;

  --bg-color: #fafafa;
  --primary-color: #2f7208;

  --section-color: #172a96;
  --row-color: #971c91;
  --block-color: #bd6716;

  --footer-bg-color: #121212;

  --container-padding: 1.3rem 0.6rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

button {
  font-family: var(--primary-font) !important;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.field-container {
  display: flex;
}

.fieldset {
  border: 1px solid rgba(0, 0, 0, 0.23) !important;
  padding: 18.5px 14px !important;
  border-radius: 4px !important;
}

select {
  border: none;
  font-size: 1rem;
  padding: 0.3rem;
}
