.site-editor-menu-header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  height: 48px;
  align-items: center;
  box-sizing: border-box;
}

.site-editor-menu-content {
  padding: 0.8rem;
}

.site-editor-menu-buttons {
  text-align: center;
  margin: 1rem 0;
  button {
    margin-right: 0.3rem;
  }
}
